			<table>
				<tr class="head">
					<td style="width: 200px">الاسم</td>
					<td style="width: 100px">الرقم</td>
					<td style="width: 150px">خيارات</td>
				</tr>
				
				<tr>
					<td>أشرف السمهوري</td>
					<td>0795334804</td>
					<td><a href="">حذف</a> - <a href="">شطب</a> - <a href="">تعديل</a></td>
				</tr>
				
				<tr>
					<td>أشرف السمهوري</td>
					<td>0795334804</td>
					<td><a href="">حذف</a> - <a href="">شطب</a> - <a href="">تعديل</a></td>
				</tr>
				
				<tr>
					<td>أشرف السمهوري</td>
					<td>0795334804</td>
					<td><a href="">حذف</a> - <a href="">شطب</a> - <a href="">تعديل</a></td>
				</tr>
			</table>
			
			<table>
				<tr>
					<td class="head" style="width: 200px">الاسم</td>
					<td><input type="text" /></td>
				</tr>
				
				<tr>
					<td class="head">الاسم</td>
					<td><input type="text" /></td>
				</tr>
				
				<tr>
					<td class="head">الاسم</td>
					<td><input type="text" /></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="button" class="button" value=" أرسل " /></td>
				</tr>
			</table>