		<div id="sidebar">
			<div class="cat">الفروع الأكاديمية</div>
			<div class="item"><a href="{$controller}/branch/new">افقع فرع جديد</a></div>
			<div class="item"><a href="{$controller}/branch/show">شوف الفروع</a></div>
			
			<br />
			<div class="cat">المواد</div>
			<div class="item"><a href="">افقع مادة جديدة</a></div>
			<div class="item"><a href="">شوف المواد</a></div>
			
			<br />
			<div class="cat">الأساتذة</div>
			<div class="item"><a href="">افقع أستاذ جديد</a></div>
			<div class="item"><a href="">شوف الأساتذة</a></div>
			
			<br />
			<div class="cat">الدوسيات</div>
			<div class="item"><a href="">افقع دوسية جديدة</a></div>
			<div class="item"><a href="">شوف الدوسيات</a></div>
			
			<br />
			<div class="cat">المناطق</div>
			<div class="item"><a href="">افقع منطقة جديدة</a></div>
			<div class="item"><a href="">شوف المناطق</a></div>
			
			<br />
			<div class="cat">الزباين</div>
			<div class="item"><a href="">شوف الأوردرات</a></div>
			<div class="item"><a href="">شوف الزباين</a></div>
			
			<br />
			<div class="cat">الشوفيرية</div>
			<div class="item"><a href="">شوفير جديد</a></div>
			<div class="item"><a href="">شوف الشوفيرية</a></div>
		</div>